body {
  background-color: white;
}

header {
  background-color: #f28c05;
  min-height: 20vh;
  text-align: center;
}

img {
  max-height: 40vh;
}

.dragon-bg{
  background-color: #f6f6f6;
}

button {
  background-color: #f28c05;
  color: black;
  font-size: x-large;
  min-width: 200px;

}

.title-font {
font-family: 'Londrina Solid', cursive;
font-family: 'Orbitron', sans-serif;
font-family: 'Pragati Narrow', sans-serif;
}